<section class="event-section-title">
    <h1 class="title">event of the month</h1>
    <img class="bottom-line" src="../../assets/images/bottom_line2.png"
    alt="buttom line"> 
    <div class="event-slider">

        <img class="event-slider-img" src="" alt="">
        <div class="event-slider-info ">
            <p>25 jun</p>
            <p>10:00pm</p>
            <p>city plaza, new york</p>
        </div>
    </div>
    
    <img src="" alt="">
     <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>