<footer class="footer">
    <img class="footer-logo" src="../../assets/icons/Logo_main.svg" alt="">
    
    <section class="footer-section">
        <h3 class="footer-section_heading">Location</h3>
        <p class="footer-section_text">po box 16122 collins street west victoria 8007 australia</p>
    </section>
    <section class="footer-section">
        <h3 class="footer-section_heading">Opening hours</h3>
        <p class="footer-section_text_big">mon-fri 2 am to 06pm</p>
    </section>
    <section class="footer-section">
        <h3 class="footer-section_heading">Location</h3>
        <p class="footer-section_text_big">mon-fri 2 am to 06pm</p>
    </section>
    <section class="footer-section">
        <h3 class="footer-section_heading_post">Recent posts</h3>
        <article class="footer-article">
            <img class="footer-article_img"
            src="../../../assets/images/recent_post1.jpg" alt="">
            <div class="footer-article-text_container">

                <p class="footer-article_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo!</p>
                <p class="footer-article_date">April 17, 2018</p>
            </div>
        </article>
        <article class="footer-article">
            <img class="footer-article_img"
            src="../../../assets/images/recent_post2.jpg" alt="">
            <div class="footer-article-text_container">

                <p class="footer-article_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo!</p>
                <p class="footer-article_date">April 17, 2018</p>
            </div>
        </article>
    </section>
    
    <section class="footer-section">
        <h3 class="footer-section_heading_post">Recent posts</h3>
        <article class="footer-article">
            <i class="fab fa-twitter footer-icon"></i>
            <div class="footer-article-text_container">

                <p class="footer-article_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo!</p>
                <p class="footer-article_date">5 day ago</p>
            </div>
        </article>
        <article class="footer-article">
            <i class="fab fa-twitter footer-icon"></i>
            <div class="footer-article-text_container">

                <p class="footer-article_text">it is a long established fact that a
                reader will be distracted by the readable</p>
                <p class="footer-article_date">5 hour ago</p>
            </div>
        </article>
    </section>
    <section class="footer-end">
        <h4 class="footer-end-heading">Stay connected with us night club</h4>
        
        <div class="footer-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-skype"></i>
            <i class="fab fa-blogger-b"></i>
            
        </div>
        
        <p>copyright @ 2018 nightclub psd template all right</p>

    </section>









    
    
</footer>

</body>
</html>