

<header id="header">
    <div class="header-img-container">
        <img  class="header-img" src="../../../assets/images/header_bg_2.jpg"
        alt="">
        <img class="header-logo"src="../../../assets/icons/Logo.svg" alt="">
        <h1 class="header-slogan">have a good time</h1>
    </div>



</header>