<nav class="nav">
    <div class="logo-container">

        <img class="logo" src="../../assets/icons/Logo_main.svg" alt="">
        <i  class="fas fa-bars"></i>
    </div>
    <div class="top-corner"></div>
    <div class="bottom-corner"></div>


    <!-- <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Event</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="">Book Table</a></li>
        <li><a href="">cont</a></li>
    </ul> -->
</nav>