<article class="site-title">
    <h1 class="title">Welcome in night<span>club</span></h1>
    <img class="bottom-line" src="../../assets/images/bottom_line2.png" alt="">

    <div class="welcome-images">
        <img src="../../assets/images/thumb1.jpg" alt="welcome images"> 
        <img src="../../assets/images/reastaurant_1.jpg" alt="welcome images"> 
        <img src="../../assets/images/thumb2.jpg" alt="welcome images">
   
    </div>
</article>