$clr-1:#fff;
$clr-2:#ff2a70;
$clr-3:#e0e0e0;
$clr-4:#060606;
$fw-medium:500;
$fw-large:700;
$line-height:1.1;
$line-height-2:25px;
$font-size: 15px;
$font-family: 'Ubuntu', sans-serif;

$text-transform:uppercase;
